* {
  background-color: lightcyan;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.social-link {
  font-size: 1.2rem;
  color: blue;
  text-decoration: none;
  transition-duration: 200ms;
}
.profileimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  border-radius: 20%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
h1,
p {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
